

.menu {
    width: 18%;
  
    &__list {
      padding-left: 0.5rem;
      margin: 0;
      width: 12rem;
      height: 15rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      
    }
  
    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  
      &:first-child {
        a {
          font-weight: 700;
          color: var(--menu-begin-color);
          font-family: var(--font);
        }
      }
    }
  
   
    a {
      text-decoration: none;
      font-size: 1.1rem;
      color: var(--menu-color);
      font-family: var(--font);
    }

    a:hover{
        color: var(--a-hover);
        font-weight: 700;
    }
  }